<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>com.dishbreak.tfe_launcher</string>
	<key>category</key>
	<string>Productivity</string>
	<key>connections</key>
	<dict>
		<key>071C53EA-D418-4E81-ABC4-18A41AAEA2E7</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>05A7DD4B-44D5-4E9C-8C6C-3EC429110C88</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>60BE35D4-9632-4C25-97A4-4695A8DD3CFE</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>83708F5E-3A35-4F2A-96E8-0D35F0B69E32</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>83708F5E-3A35-4F2A-96E8-0D35F0B69E32</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>071C53EA-D418-4E81-ABC4-18A41AAEA2E7</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>17B0416C-6245-477F-A28A-C26D665D4B83</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>09694889-7F69-4196-859E-1CD66FA3A7AC</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>012C5121-B56A-4C9E-919D-B4E685FE8CAF</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>535727FD-00DE-4F38-87BD-29295C02F36B</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>375DFEB2-0892-4409-BAB3-3498E5E64A5B</string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Vishal Kotcherlakota</string>
	<key>description</key>
	<string>Terraform Cloud/Terraform Enterprise Quick Jump</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Terraform Cloud Launcher</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>query=$1

echo -n $query | go run ./cmd/ login</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>05A7DD4B-44D5-4E9C-8C6C-3EC429110C88</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>subtext</key>
				<string>User settings --&gt; Tokens</string>
				<key>text</key>
				<string>Enter TF API Token</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>071C53EA-D418-4E81-ABC4-18A41AAEA2E7</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>go run ./cmd/ logout</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>09694889-7F69-4196-859E-1CD66FA3A7AC</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>fixedorder</key>
				<false/>
				<key>items</key>
				<string>[{"title":"Set API Token","arg":"login","subtitle":"Configure API Access for TFE Launcher"},{"title":"Clear API Token","arg":"logout","subtitle":"Clear API Token for TFE Launcher"},{"title":"Validate API Access","arg":"validate","subtitle":"Check to make sure your access works\/"}]</string>
				<key>keyword</key>
				<string>tfesettings</string>
				<key>runningsubtext</key>
				<string></string>
				<key>subtext</key>
				<string>Adjust settings for TFE launcher</string>
				<key>title</key>
				<string>Configure TFE launcher</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.listfilter</string>
			<key>uid</key>
			<string>60BE35D4-9632-4C25-97A4-4695A8DD3CFE</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>conditions</key>
				<array>
					<dict>
						<key>inputstring</key>
						<string></string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>0</integer>
						<key>matchstring</key>
						<string>login</string>
						<key>outputlabel</key>
						<string>login</string>
						<key>uid</key>
						<string>17B0416C-6245-477F-A28A-C26D665D4B83</string>
					</dict>
					<dict>
						<key>inputstring</key>
						<string></string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>0</integer>
						<key>matchstring</key>
						<string>logout</string>
						<key>outputlabel</key>
						<string>logout</string>
						<key>uid</key>
						<string>012C5121-B56A-4C9E-919D-B4E685FE8CAF</string>
					</dict>
					<dict>
						<key>inputstring</key>
						<string></string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>0</integer>
						<key>matchstring</key>
						<string>validate</string>
						<key>outputlabel</key>
						<string>validate</string>
						<key>uid</key>
						<string>375DFEB2-0892-4409-BAB3-3498E5E64A5B</string>
					</dict>
				</array>
				<key>elselabel</key>
				<string>else</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.conditional</string>
			<key>uid</key>
			<string>83708F5E-3A35-4F2A-96E8-0D35F0B69E32</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>127</integer>
				<key>script</key>
				<string></string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>535727FD-00DE-4F38-87BD-29295C02F36B</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
	</array>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict>
		<key>05A7DD4B-44D5-4E9C-8C6C-3EC429110C88</key>
		<dict>
			<key>xpos</key>
			<integer>830</integer>
			<key>ypos</key>
			<integer>160</integer>
		</dict>
		<key>071C53EA-D418-4E81-ABC4-18A41AAEA2E7</key>
		<dict>
			<key>xpos</key>
			<integer>670</integer>
			<key>ypos</key>
			<integer>160</integer>
		</dict>
		<key>09694889-7F69-4196-859E-1CD66FA3A7AC</key>
		<dict>
			<key>xpos</key>
			<integer>670</integer>
			<key>ypos</key>
			<integer>290</integer>
		</dict>
		<key>535727FD-00DE-4F38-87BD-29295C02F36B</key>
		<dict>
			<key>xpos</key>
			<integer>660</integer>
			<key>ypos</key>
			<integer>415</integer>
		</dict>
		<key>60BE35D4-9632-4C25-97A4-4695A8DD3CFE</key>
		<dict>
			<key>xpos</key>
			<integer>270</integer>
			<key>ypos</key>
			<integer>305</integer>
		</dict>
		<key>83708F5E-3A35-4F2A-96E8-0D35F0B69E32</key>
		<dict>
			<key>xpos</key>
			<integer>475</integer>
			<key>ypos</key>
			<integer>350</integer>
		</dict>
	</dict>
	<key>webaddress</key>
	<string>kotcherlakota.org</string>
</dict>
</plist>
